BOT_TOKEN=8601488899:AAFP8LxAAVoAXVcg5aWzhrpvdE54xPmonF0
ADMIN_ID=6159831935
BOT_USERNAME=@rasul_dev_bot
MONGO_URI=mongodb+srv://abdurasulxayrulayev_db_user:rasuldev2011@rasuldev.ehtnmp7.mongodb.net/mybot?retryWrites=true&w=majority&appName=RasulDev
